@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:o..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  height: 100%;
}

@layer components {
  .form-input {
    @apply input input-bordered w-full;
  }
  .button {
    @apply font-lato text-xl text-white font-normal rounded-md btn bg-primary hover:bg-black;
  }
  .secondary-button {
    @apply font-lato text-xl text-white font-normal rounded-md btn bg-primary hover:bg-black;
  }
  .button-outline {
    @apply font-roboto-flex text-xl btn btn-outline btn-primary;
  }
}

.markerElement path:nth-child(3) {
  fill: #e93ab5;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
}

h2 {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

fieldset {
  @apply border p-4;
}

legend {
  @apply bg-white px-2;
}
