@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  height: 100%;
}

@layer components {
  .form-input {
    @apply input input-bordered w-full;
  }
}

.markerElement path:nth-child(3) {
  fill: #FF7233;
}